body{
  background-color : #fff5fd;
}

hr{ border-style : dotted none none;
  border-color : #ffed99;
  border-width : 5px;
  width : 10%;
  height : 10%;
}

h1{
  color : #3b14a7;
}

h3{
  color : #ac66cc;
}
